body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

.styled-button {
    padding: 10px 20px;
    border: 2px solid #007BFF;
    background-color: #007BFF;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.styled-button:hover {
    background-color: #0056b3;
}